body{
    background: url(/Imagenes/undraw_Confirmed_re_sef7.svg) no-repeat center center fixed;
    background-size: cover;
}
.main-section{
    margin:0 auto;
    margin-top: 25px;
}
.modal-content{
    background-color: darkgrey;
    opacity: .95;
    padding: 0 20px ;
    box-shadow:0px 0px 3px darkslategrey;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img{
    width: 100px;
    height: 100px;
    box-shadow:0px 0px 3px darkslategrey;
    border-radius: 50%;
}
.form-group input{
    height: 42px;
    font-size: 18px
}
