@import url('https://fonts.googleapis.com/css2? family=Montserrat&display=swap');
body{
    font-family: 'Montserrat' , sans-serif;
    overflow-x: hidden;
}
#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color:#3f3f3f;
} 
#menu form > button{
    font-size: 18px;
    font-weight: bold;

}
.carousel-inner{
    max-height: 39rem;
}
@media(max-width:768px){
    #intro , #equipo{
        width: 90% !important;
    }
    #equipo p{
        display: none;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    #bg-contacto{
        position: relative;
        top:-110px; 
     }
}
@media(max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center!important;
    }

}
@media(max-width: 1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

.fondo{
    background: url(../Imagenes/fonde_de_paguina.jpg);
}

.local{
    background: #000;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width:50% ;
    margin-left: 100px;
    padding-top: 150px;
}
/*en esta parte va javascript*/
#numeros_local div{
    padding:0 20px;
    height: 48px;
}
#numeros_local div:not(:last-child){
    border-right: 2px solid ;
}
#numeros-local div:not(:first-child){
    padding-left: 20px;
}
#numeros_local p{
    margin: 0;
}

/*esto es para la imagen agregada al fondo*/
#bg-contacto{
   position: relative;
   top:-130px; 
}
#seccion-contacto{
    background-color:#1d2a4e ;
    min-height: 500px;
    position: relative;
}
/*esto es para el formulario*/
#contenedor-formulaio{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50% );
    background: aliceblue;
    border-radius: 5px;
    max-width:500px ;
}
#titulo-formulario{
    color:black;
}
/*para el pie de paguina*/
footer{
    background: blue;
    min-height: 100px;
}
footer p{
    color: azure;
    text-align: center;
}
#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color:black

}